<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://github.com/evgeniy-khist" target="_blank">
        <span class="tag is-link is-medium">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span> evgeniy-khist</span>
        </span>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Projects
          </a>

          <div class="navbar-dropdown">
            {{#each projects}}
              {{> navbarItem . }}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="github-button" href="https://github.com/evgeniy-khist" data-size="large" data-show-count="true"
            aria-label="Follow @evgeniy-khist on GitHub">Follow @evgeniy-khist</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Evgeniy Khyst's Tech Blog
        </h1>
        <h2 class="subtitle">
          Samples and articles
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
{{> (whichPartial) }}
    </div>
  </section>
</body>

</html>