<div class="columns">
  <div class="column">
    <a class="github-button" href="https://github.com/evgeniy-khist/{{project.project}}" data-icon="octicon-star"
      data-size="large" data-show-count="true" aria-label="Star evgeniy-khist/{{project.project}} on GitHub">Star</a>
    <a class="github-button" href="https://github.com/evgeniy-khist/{{project.project}}/fork" data-icon="octicon-repo-forked"
      data-size="large" data-show-count="true" aria-label="Fork evgeniy-khist/{{project.project}} on GitHub">Fork</a>
  </div>
  <div class="column has-text-right has-text-grey">
    <time datetime="{{project.updatedAtIso8601}}">{{project.updatedAt}}</time>
  </div>
</div>

<div class="content">
{{{project.content}}}
</div>
