<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h2><a href="/{{project}}/">{{title}}</a></h2>
        <p>
          {{description}}
        </p>
        <div class="columns">
          <div class="column">
            <a class="github-button" href="https://github.com/evgeniy-khist/{{project}}" data-icon="octicon-star"
              data-size="large" data-show-count="true" aria-label="Star evgeniy-khist/{{project}} on GitHub">Star</a>
            <a class="github-button" href="https://github.com/evgeniy-khist/{{project}}/fork"
              data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork evgeniy-khist/{{project}} on GitHub">Fork</a>
          </div>
          <div class="column has-text-right has-text-grey">
            <time datetime="{{updatedAtIso8601}}">{{updatedAt}}</time>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
